
<mat-card>
  <mat-card-title>
    Classic Spinner
  </mat-card-title>
  <mat-card-content>

    <mat-form-field
      *ngFor="let appearance of ['legacy', 'standard', 'fill', 'outline']"
      [appearance]="$any(appearance)">

      <mat-label>Classic ({{ appearance }})</mat-label>
      <input
        matInput
        #numberInput
        type="number"
        step="1"
        min="-10"
        max="10"
        [(ngModel)]="numberClassicValue">

      <ngx-mat-number-spinner
        matSuffix
        [for]="numberInput"></ngx-mat-number-spinner>

    </mat-form-field>

  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>
    Custom Buttons
  </mat-card-title>
  <mat-card-content>

    <mat-form-field appearance="legacy">
      <mat-label>Custom (legacy)</mat-label>
      <input matInput #customLegacyInput type="number">
      <button mat-icon-button matPrefix [ngxMatNumberIncrementSpinnerFor]="customLegacyInput">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button matSuffix [ngxMatNumberDecrementSpinnerFor]="customLegacyInput">
        <mat-icon>remove</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Custom (standard)</mat-label>
      <input matInput #customStandardInput type="number" min="36" max="42" value="37" step=".01">
      <button mat-icon-button matPrefix [ngxMatNumberIncrementSpinnerFor]="customStandardInput">
        <mat-icon>add_box</mat-icon>
      </button>
      <button mat-icon-button matSuffix [ngxMatNumberDecrementSpinnerFor]="customStandardInput">
        <mat-icon>indeterminate_check_box</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Custom (fill)</mat-label>
      <input matInput #customFillInput type="number" min="0" max="5" value="0">
      <button mat-icon-button color="primary" matPrefix [ngxMatNumberIncrementSpinnerFor]="customFillInput">
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-icon-button color="warn" matSuffix [ngxMatNumberDecrementSpinnerFor]="customFillInput">
        <mat-icon>thumb_down</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Custom (outline)</mat-label>
      <input matInput #customOutlineInput type="number">
      <button mat-icon-button matPrefix
              style="background-color: yellowgreen; color: white; margin-right: 10px;"
              [ngxMatNumberIncrementSpinnerFor]="customOutlineInput">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button matSuffix
              style="background-color: orangered; color: white; margin-left: 10px;"
              [ngxMatNumberDecrementSpinnerFor]="customOutlineInput">
        <mat-icon>remove</mat-icon>
      </button>
    </mat-form-field>

  </mat-card-content>
</mat-card>
