:host {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .content {
    display: flex;
    gap: 24px;
  }

  .settings {
    display: flex;
    gap: 24px;
  }

  mat-card-content {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-content: stretch;
    > * {
      width: 220px;
    }
  }

}
