<div class="content">
<mat-card>
  <mat-card-title>
    Classic Spinner
  </mat-card-title>
  <mat-card-content>

    <mat-form-field
      *ngFor="let appearance of ['legacy', 'standard', 'fill', 'outline']"
      [appearance]="$any(appearance)">

      <mat-label>Classic ({{ appearance }})</mat-label>
      <input
        matInput
        type="number"
        step="1"
        min="-10"
        max="10"
        [ngxMatNumberSpinner]="spinner"
        [disabled]="disabled"
        [readonly]="readonly"
        [(ngModel)]="numberValue">

      <ngx-mat-number-spinner #spinner matSuffix></ngx-mat-number-spinner>

    </mat-form-field>

    <div>NgModel = {{ numberValue }}</div>

  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>
    Custom Buttons
  </mat-card-title>
  <mat-card-content>

    <mat-form-field appearance="legacy">

      <mat-label>Custom (legacy)</mat-label>

      <input
        matInput
        type="number"
        [disabled]="disabled"
        [readonly]="readonly"
        [ngxMatNumberSpinner]="[spinnerUp1,spinnerDown1]">

      <button
        mat-icon-button
        matPrefix
        ngxMatNumberIncrementSpinner
        #spinnerUp1="ngxMatNumberIncrementSpinner">
        <mat-icon>add</mat-icon>
      </button>

      <button
        mat-icon-button
        matSuffix
        ngxMatNumberDecrementSpinner
        #spinnerDown1="ngxMatNumberDecrementSpinner">
        <mat-icon>remove</mat-icon>
      </button>

    </mat-form-field>

    <mat-form-field appearance="standard">

      <mat-label>Custom (standard)</mat-label>

      <input
        matInput
        type="number"
        min="36"
        max="42"
        value="37"
        step=".01"
        [disabled]="disabled"
        [readonly]="readonly"
        [ngxMatNumberSpinner]="[spinnerUp2,spinnerDown2]">

      <button
        mat-icon-button
        matPrefix
        ngxMatNumberIncrementSpinner
        #spinnerUp2="ngxMatNumberIncrementSpinner">
        <mat-icon>add_box</mat-icon>
      </button>

      <button
        mat-icon-button
        matSuffix
        ngxMatNumberDecrementSpinner
        #spinnerDown2="ngxMatNumberDecrementSpinner">
        <mat-icon>indeterminate_check_box</mat-icon>
      </button>

    </mat-form-field>

    <mat-form-field appearance="fill">

      <mat-label>Custom (fill)</mat-label>

      <input
        matInput
        type="number"
        min="0"
        max="5"
        value="0"
        [disabled]="disabled"
        [readonly]="readonly"
        [ngxMatNumberSpinner]="[spinnerUp3,spinnerDown3]">

      <button
        mat-icon-button
        color="primary"
        matPrefix
        ngxMatNumberIncrementSpinner
        #spinnerUp3="ngxMatNumberIncrementSpinner">
        <mat-icon>thumb_up</mat-icon>
      </button>

      <button
        mat-icon-button
        color="warn"
        matSuffix
        ngxMatNumberDecrementSpinner
        #spinnerDown3="ngxMatNumberDecrementSpinner">
        <mat-icon>thumb_down</mat-icon>
      </button>

    </mat-form-field>

    <mat-form-field appearance="outline">

      <mat-label>Custom (outline)</mat-label>

      <input
        matInput
        type="number"
        [disabled]="disabled"
        [readonly]="readonly"
        [ngxMatNumberSpinner]="[spinnerUp4,spinnerDown4]">

      <button
        mat-icon-button
        matPrefix
        style="color: white; margin-right: 10px;"
        [ngStyle]="{'background-color': disabled ? 'silver' : 'yellowgreen'}"
        ngxMatNumberIncrementSpinner
        #spinnerUp4="ngxMatNumberIncrementSpinner">
        <mat-icon>add</mat-icon>
      </button>

      <button
        mat-icon-button
        matSuffix
        style="color: white; margin-left: 10px;"
        [ngStyle]="{'background-color': disabled ? 'silver' : 'orangered'}"
        ngxMatNumberDecrementSpinner
        #spinnerDown4="ngxMatNumberDecrementSpinner">
        <mat-icon>remove</mat-icon>
      </button>

    </mat-form-field>

  </mat-card-content>
</mat-card>
</div>

<div class="settings">
  <mat-slide-toggle [(ngModel)]="disabled">Disable all</mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="readonly">Readonly all</mat-slide-toggle>
</div>
