

<mat-card>
  <mat-card-title>
    Browser default
  </mat-card-title>
  <mat-card-content>

    <mat-form-field
      *ngFor="let appearance of ['legacy', 'standard', 'fill', 'outline']"
      [appearance]="$any(appearance)">

      <mat-label>Classic ({{ appearance }})</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="numberStandardValue">

    </mat-form-field>

  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>
    Classic Spinner
  </mat-card-title>
  <mat-card-content>

    <mat-form-field
      *ngFor="let appearance of ['legacy', 'standard', 'fill', 'outline']"
      [appearance]="$any(appearance)">

      <mat-label>Classic ({{ appearance }})</mat-label>
      <input
        matInput
        #numberInput
        type="number"
        step="1"
        min="-10"
        max="10"
        [(ngModel)]="numberClassicValue">

      <ngx-mat-number-spinner
        matSuffix
        [for]="numberInput"></ngx-mat-number-spinner>

    </mat-form-field>

  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>
    Custom Buttons
  </mat-card-title>
  <mat-card-content>

    <mat-form-field
      *ngFor="let appearance of ['legacy', 'standard', 'fill', 'outline']"
      [appearance]="$any(appearance)">

      <mat-label>Custom</mat-label>

      <input
        matInput
        #customNumberInput
        type="number"
        step="5"
        min="-50"
        max="50"
        [(ngModel)]="numberCustomValue">

      <button
        [ngxMatNumberIncrementSpinnerFor]="customNumberInput"

        mat-icon-button
        matPrefix>
        <mat-icon>add</mat-icon>
      </button>

      <button
        [ngxMatNumberDecrementSpinnerFor]="customNumberInput"

        mat-icon-button
        matSuffix>
        <mat-icon>remove</mat-icon>
      </button>

    </mat-form-field>

  </mat-card-content>
</mat-card>
